<div id ='new_page'>
	<div class ='row'>
		<div class = 'col-md-8 col-md-offset-2' id = 'hello'>
			<h3 id = 'intro_text'>Please Enter a Twitter Topic or HashTag</h3>
			<div class = 'row'>
				<div class = 'col-md-8' id = 'submit'>
					<%= form_for @tweet do |f|%>
						<%= f.text_field :handle%>
						<%= f.submit "Let's Go!", class: "btn btn-lg btn-danger"%>
					<% end%>
				</div>
			</div>
			<div class = 'row'>
				<h5 id = 'intro_text' style = "font-size: 1.3em;">OR</h5>
			</div>
			<div class = 'row'>
				<div class = 'col-md-8' id = 'submit'>
					<% unless Tweet.blank?%>
						<%=link_to "Experience Randomness!", @random_tweet, class: 'btn btn-lg btn-danger' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>



