<div id = 'show'>
	<h1 id = 'show_title'>Showing Recent Tweets for <%= @tweet.handle%></h1>

	<div class="chart"></div>

	<% @tweets_array.each do |tweet| %>
		<br>
		<h4><%= tweet[0]%></h4>
		<p>The above tweet is <b><%= tweet[1]%>%</b> positive!</p>
		<p><%= tweet[2]%></p>
		<br>
	<% end %>
</div>



