<h1>Showing Recent Tweets for <%= @tweet.handle%></h1>

<% @tweets_array.each do |tweet| %>
	<h4><%= tweet[0]%></h4>
	<p>The above tweet is <%= tweet[1]%>% positive!</p>
	<p><%= tweet[2]%></p>
<% end %>


